{{ form_start(form) }}
{% if form.Teams is defined %}
    <div class="col-4 mb-3">
        <label for="exampleFormControlInput1" class="form-label">{{ form_label(form.Name) }}</label>
            {{ form_widget(form.Name, {'attr': {class: 'form-control', placeholder: 'Name...'}}) }}
    </div>

<div class=" mb-3">
    <label class="form-label"> {{ form_label(form.Teams) }}:</label>

    {% for batch in form.Teams|batch(3) %}
        <div class="row ms-2">
            {% for option in batch %}
                <div class="col-2 form-check">
                    <label for="TeamsControlInput" class="form-label">{{ form_label(option) }}</label>
                    {{ form_widget(option, {'attr': {class: 'form-check-input', type: 'checkbox', 'checked':'checked'}}) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <ul>
    {% for error in form.children['Teams'].vars.errors %}
        <li class="text-danger">{{ error.message }}</li>

    {% endfor %}
    </ul>
</div>

    <button class="btn btn-sm btn-success">{{ button_label|default('Save'|trans) }}</button>

{% else %}
    <ul
         class="text-danger">{{ 'Create teams before tournament'|trans }}
    </ul>

{% endif %}

{{ form_end(form) }}





