{% extends 'base.html.twig' %}

{% block title %}{{ 'Tournaments list'|trans}}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-6 d-flex flex-row justify-content-between align-items-center">
            <h1>{{ 'Tournaments list'|trans}}</h1>
            {% if tournaments  %}
            <a class="align-end btn btn-primary btn-sm" role="button" href="{{ path('app_tournaments_new') }}">{{ 'Create new'|trans}}</a>
            {% endif %}
        </div>
        {% if tournaments  %}
        <div class="col-6 ">

                <div class="row d-flex flex-row justify-content-evenly align-items-center mb-3  border-bottom">
                    <div class="col m-1 text-center">ID</div>
                    <div class="col m-1 text-center">{{ 'Name'|trans }}</div>
                    <div class="col m-1 text-center">{{'Actions'|trans}}</div>
                </div>
                {% for tournament in tournaments %}
                    <div class="row d-flex flex-row justify-content-evenly align-items-center mb-2  border-bottom border-primary">
                        <div class="col m-1 border-end border-primary text-center">{{ tournament.id }}</div>
                        <div class="col m-1 border-end border-primary text-center">{{ tournament.Name }}</div>
                        <div class="col m-1 text-center">
                            <div class="btn-group">
                                {{ include('tournaments/_delete_form.html.twig') }}
                                <a class="btn btn-primary btn-sm" role="button" href="{{ path('app_tournaments_bracket', {'slug': tournament.Name} ) }}">{{ 'View'|trans}}</a>
                            </div>

                        </div>
                    </div>
                {% endfor %}




        </div>
        {% else %}
            <div class="col-6 d-flex flex-row justify-content-evenly align-items-center">
            <h3>{{ 'No tournaments registered'|trans}}:</h3>
                <a class="btn btn-primary btn-sm" role="button" href="{{ path('app_tournaments_new') }}">{{ 'Create new tournament'|trans }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
